<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PORTFOLIO </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="index.css">
</head>

<body>
    <section class="header">
        <!------------ Start Navbar ------------>
        <nav>
            <!-- Logo -->
            <a href="#" class="logo">PORTFOLIO</a>
            <!-- Menu -->
            <ul>
                <li><a href="#about" class="active">About</a></li>
                <li><a href="#exper">Experience</a></li>
                <li><a href="#skil">Skills</a></li>
                <li><a href="#serv">Service</a></li>
                <li><a href="#award">Awards</a></li>
                <li><a href="#porto">Portofolio</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>

        </nav>
        <!------------ End Navbar ------------>

        <!------------ Start Container ------------>
        <div class="text-container">
            <p>Hello,</p>
            <p>I'M Esraa</p>
            <p>I'M Front End Developer <br> & Designer</p>
            <a href="https://www.linkedin.com/in/esra-emad-964159125/" target="_blank" style="border: none;"><button
                    class="cv">LinkedIn</button></a>
            <button class="linkd">Download CV</button>
        </div>
        <!------------ End Container ------------>

        <!------------ Start Model ------------>

        <img src="./images/me2.png" class="model" model="model">

        <h2 class="mainHeader underline ">About.Me</h2>

        <div class="modelContent">
            <div>
                <i class="fa fa-user-o" aria-hidden="true"></i>&nbsp;<b>Name:</b>
                <span>Esraa Emad</span>
            </div>
            <br>
            <div>
                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                <b>Email:</b>
                <span>esso.em.96@gmail.com</span>
            </div>
            <br>
            <div>
                <i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;<b>BirthDay:</b>
                <span>21st January 1996 </span>
            </div>
            <!-- <br><br>
            <div>
                <b>Phone:</b>
                <span>+201200631998</span>
            </div>
            <br><br>
            <div>
                <b>Addres:</b>
                <span>Maadi,Cairo</span>
            </div>
            <br><br>
            <b>Residence:</b>
            <span>Egypt</span> -->


        </div>

        <div class="modelContent2">
            <div>
                <i class="fa fa-phone" aria-hidden="true"></i>&nbsp;
                <b>Phone:</b>
                <span>+201200631998</span>
            </div>
            <br>
            <div>
                <i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;<b>Residence:</b>
                <span>Egypt</span>
            </div>
            <br>
            <div>
                <i class="fa fa-location-arrow" aria-hidden="true"></i>&nbsp;<b>Addres:</b>
                <span>Maadi,Cairo</span>
            </div>
        </div>

        <div class="social">
            <a href="https://www.linkedin.com/in/esra-emad-964159125/" target="_blank"><i class="fa fa-linkedin"
                    aria-hidden="true"></i></a>
            <a href="https://github.com/esraemad" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
        </div>
    </section>

    <!------------ End Model ------------>


    <!------------ Start Objective ------------>
    <div class="objective" id="about">
        <!-- <div class="pic"> <img src="./images/me.png"></div> -->

        <div class="objective-text">
            <h2 class="underline">Objective</h2>
            <br>
            <p>A competent and committed Web Designer and Developer Highly focused with knowledge of designing and
                developing the layout, visual appearance and usability of a website as well as ability convert client
                requirements into exciting online applications</p>

            <br>

            <button> <i class="fa fa-handshake-o" aria-hidden="true"></i>&nbsp; Hire Me</button>

        </div>
    </div>


    <!------------ End Objective ------------>

    <!------------ Start Education ------------>
    <div class="container">
        <div class="history-tl-container line">
            <div class="expHeading">
                <h2 class="underline ">Education</h2>
            </div>
            <ul class="tl">
                <li class="tl-item" ng-repeat="item in retailer_history">
                    <div class="timestamp">
                        October .2019<br>July .2020
                    </div>
                    <div class="item-title">9 Months diploma <i></i>(Information Technology Institute)<i></div>
                    <div class="item-detail">smart village -Track Web & UI</div>
                </li>
                <li class="tl-item" ng-repeat="item in retailer_history">
                    <div class="timestamp">
                        september .2014<br> July .2018
                    </div>
                    <div class="item-title">Fuclty of Computer science <br> Helwan university </div>
                    <div class="item-detail">Grade: Very Good</div>
                </li>
                <li class="tl-item" ng-repeat="item in retailer_history">
                    <div class="timestamp">
                        From .2011<br> To .2014
                    </div>
                    <div class="item-title">High school</div>
                    <div class="item-detail">Global high school</div>
                </li>

            </ul>

        </div>


        <!------------ End Education ------------>



        <!------------ Start Experince ------------>

        <div class="history-tl-container" id="exper">
            <div class="expHeading">
                <h2 class="underline ">Experince</h2>
            </div>
            <ul class="tl">
                <li class="tl-item" ng-repeat="item in retailer_history">
                    <div class="timestamp">
                        November .2018 <br>February .2019
                    </div>
                    <div class="item-title">Front-end Pluebox Company </div>
                    <div class="item-detail">Translated designs into responsive,HTML5, CSS3, JavaScript,
                        bootstrap and Jquery</div>
                </li>
                <li class="tl-item" ng-repeat="item in retailer_history">
                    <div class="timestamp">
                        February .2019<br> July .2019
                    </div>
                    <div class="item-title">Front-end Nile Code Company
                    </div>
                    <div class="item-detail">Translated designs into responsive,HTML5, CSS3, JavaScript,
                        bootstrap and Jquery</div>
                </li>
                <li class="tl-item" ng-repeat="item in retailer_history">
                    <div class="timestamp">
                        august .2018<br> October .2018
                    </div>
                    <div class="item-title">Internship Front-end IT Smart Company</div>
                    <div class="item-detail">React.js</div>
                </li>
                <li class="tl-item" ng-repeat="item in retailer_history">
                    <div class="timestamp">
                        July .2016 <br> July .2016
                    </div>
                    <div class="item-title">Internship Innovegypt program (TIEC – Smart Village)</div>
                    <div class="item-detail">Project Lead & Entrepreneurship</div>
                </li>

            </ul>

        </div>
        <div class="clear"></div>

    </div>


    <!------------ End Experince ------------>


    <!------------ START SKILLS ------------>
    <div class="skills" id="skil">
        <div class="skills-text">
            <h2 class="underline">SKills</h2>
        </div>

        <div class="skillsContainer1">
            <ul class="skills-bar-container">
                <li>
                    <div class="progressbar-title">
                        <h4>HTML5</h4>
                        <span class="percent" id="html-pourcent">98%</span>
                    </div>
                    <div class="bar-container">
                        <span class="progressbar progresstomatoes" id="progress-html"></span>
                    </div>
                </li>
                <li>
                    <div class="progressbar-title">
                        <h4>CSS3 & SASS</h4>
                        <span class="percent" id="css-pourcent">90%</span>
                    </div>
                    <div class="bar-container">
                        <span class="progressbar progresstomatoes" id="progress-css"></span>
                    </div>
                </li>


                <li>
                    <div class="progressbar-title">
                        <h4>UI/UX Design</h4>
                        <span class="percent" id="ux-pourcent">80%</span>
                    </div>
                    <div class="bar-container">
                        <span class="progressbar progresstomatoes" id="progress-ux"></span>
                    </div>
                </li>

                <li>
                    <div class="progressbar-title">

                        <h4>Bootstrap</h4>
                        <span class="percent" id="bootstrap-pourcent">95%</span>
                    </div>
                    <div class="bar-container">
                        <span class="progressbar progresstomatoes" id="progress-bootstrap"></span>
                    </div>
                </li>




                <li>
                    <div class="progressbar-title">
                        <h4>PHOTOSHOP & ILLUSTRATOR</h4>
                        <span class="percent" id="photoshop-pourcent">70%</span>
                    </div>
                    <div class="bar-container">
                        <span class="progressbar progresstomatoes" id="progress-photoshop"></span>
                    </div>
                </li>


            </ul>
        </div>



        <div class="skillsContainer2">
            <ul class="skills-bar-container">
                <li>
                    <div class="progressbar-title">
                        <h4>JavaScript</h4>
                        <span class="percent" id="js-pourcent">90%</span>
                    </div>
                    <div class="bar-container">
                        <span class="progressbar progresstomatoes" id="progress-js"></span>
                    </div>
                </li>
                <li>
                    <div class="progressbar-title">
                        <h4>jQuery</h4>
                        <span class="percent" id="jquery-pourcent">85%</span>
                    </div>
                    <div class="bar-container">
                        <span class="progressbar progresstomatoes" id="progress-jquery"></span>
                    </div>
                </li>

                <li>
                    <div class="progressbar-title">

                        <h4>React.js</h4>
                        <span class="percent" id="react-pourcent">88%</span>
                    </div>
                    <div class="bar-container">
                        <span class="progressbar progresstomatoes" id="progress-react"></span>
                    </div>
                </li>

                <li>
                    <div class="progressbar-title">
                        <h4>Node.js</h4>
                        <span class="percent" id="node-pourcent">78%</span>
                    </div>
                    <div class="bar-container">
                        <span class="progressbar progresstomatoes" id="progress-node"></span>
                    </div>
                </li>
                <li>
                    <div class="progressbar-title">
                        <h4>Data Structures & Algorithms</h4>
                        <span class="percent" id="ds-pourcent">70%</span>
                    </div>
                    <div class="bar-container">
                        <span class="progressbar progresstomatoes" id="progress-ds"></span>
                    </div>
                </li>




            </ul>
        </div>
        <div class="clear"></div>


        <div class="industrySkills">

            <div class="progress--circle progress--95">

                <div class="progress__number">95% <p class="pskilss">OOP</p>
                </div>
            </div>

            <div class="progress--circle progress--50">
                <div class="progress__number">50% <p class="pskilss">Agile</p>
                </div>
            </div>
            <div class="progress--circle progress--75">
                <div class="progress__number">75% <p class="pskilss">Webpack</p>
                </div>
            </div>
            <div class="progress--circle progress--100">
                <div class="progress__number">100% <p class="pskilss">Git</p>
                </div>
            </div>
        </div>
    </div>

    <div class="clear"></div>
    <!------------ END SKILLS ------------>


    <!------------ Start Service ------------>

    <div class="service" id="serv">
        <div class="service-text">
            <h2 class="underline">Services</h2>
        </div>

        <div class="box-container">
            <div class="box-1">
                <span><i class="fa fa-cubes fa-lg" aria-hidden="true"></i></span>
                <p class="box-heding">Web Design</p>
                <p class="box-details">Translated designs into responsive, interactive features, using
                    <label>HTML5</label> , <label>CSS3</label>
                    <!-- <i class="fa fa-html5" aria-hidden="true" style="color: #E54C21;"></i> -->
                    <!-- , <i class="fa fa-css3" aria-hidden="true" style="color: #1570B3;"></i> -->
                    , <label>JavaScript</label>,
                    <label>bootstrap </label>and <label>Jquery</label></p>
                <a href="https://github.com/esraemad" target="_blank" style="border: none;"><button>View
                        Projects</button></a>

            </div>
            <div class="box-2">
                <span><i class="fa fa-code fa-lg" aria-hidden="true"></i></span>
                <p class="box-heding">Web Development</p>
                <p class="box-details">Building single page applications <label>(SPA) </label> easier and faster
                    using <label>
                        React.js</label> & dealing with <label>Node.js</label> running
                    in server side to produce<label>dynamic</label> web page </p>
                <a href="https://github.com/esraemad" target="_blank"><button>View Projects</button></a>
            </div>
            <div class="box-3">
                <span><i class="fa fa-sitemap fa-lg" aria-hidden="true"></i></span>
                <p class="box-heding">Ui/UX Designer</p>
                <p class="box-details">Creating the series of <label>screens</label> , <label>pages</label> , and
                    visual elements that provide meaningful and
                    relevant <label>experiences</label>to users.</p>
                <a href="https://github.com/esraemad" target="_blank"><button>View Projects</button></a>
            </div>
        </div>

    </div>
    <div class="clear"></div>

    <!------------ End Service ------------>


    <!------------ End Awards ------------>
    <div class="Awards" id="award">
        <div class="container">

            <div class="skills-text">
                <h2 class="underline">AWARDS</h2>

                <div class="resume-wrap d-flex ftco-animate">
                    <div class="icon d-flex align-items-center justify-content-center">
                        <i class="fa fa-trophy" aria-hidden="true"></i>
                    </div>
                    <div class="text pl-3 awardsText">
                        <span class="date">2017-2018</span>
                        <h3>Full stack web design and development diploma Route Academy.</h3>
                        <p>Route is an Egyptian IT-Training Center
                            they have identified the unique challenges people may face in learning a new technology and
                            have exerted efforts in providing strategies to overcome them.</p>
                    </div>
                </div>

                <div class="resume-wrap d-flex ftco-animate">
                    <div class="icon d-flex align-items-center justify-content-center">
                        <i class="fa fa-trophy" aria-hidden="true"></i>
                    </div>
                    <div class="text pl-3 awardsText">
                        <span class="date">2016-2017</span>
                        <h3>Innovegypt program (TIEC – Smart Village).</h3>
                        <p>Innovegypt is a program designed by Technology Innovation and Entrepreneurship Center (TIEC)
                            about entrepreneurship and how to make a successful start-up.
                        </p>
                    </div>
                </div>


                <div class="resume-wrap d-flex ftco-animate">
                    <div class="icon d-flex align-items-center justify-content-center">
                        <i class="fa fa-trophy" aria-hidden="true"></i>
                    </div>
                    <div class="text pl-3 awardsText">
                        <span class="date">2016-2017</span>
                        <h3>Intel Ideation Workshop(Enjaz). </h3>
                        <p>Enjaz Program is an undergraduate unique program in the area of innovation and
                            entrepreneurship directed to university students in ICT specializations who are aspiring to
                            be future innovators and entrepreneurs.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!------------ End Awards ------------>




        <!------------ START Projects ------------>

        <div class="project" id="porto">
            <div class="container">
                <div class="service-text">
                    <h2 class="spechial underline">PORTFOLIO</h2>
                </div>

                <div class="move">
                    <ul>
                        <li data-filter="all" class="select ">ALL</li>
                        <li data-filter=".mobile">WEB</li>
                        <li data-filter=".video">SASS</li>
                        <li data-filter=".coffee">UI/UX</li>
                    </ul>
                </div>


                <div class="pics" id="choosepic">


                    <div class="picsContainer">

                        <div class="mix video mobile">
                            <a href="https://github.com/esraemad/Pluebox-English" target="_blank">
                                <div class="proj ">
                                    <div class="overlyselect">View More
                                        <span class="heart">
                                            <i class="fa fa-heart-o"></i> 14
                                        </span>
                                    </div>
                                    <div class="picscontainer">
                                        <img src="./images/6.PNG" alt="4" class="picsProjects">
                                    </div>
                                </div>
                            </a>
                        </div>


                        <div class=" mix coffee">
                            <a href="https://github.com/esraemad/L.L.C" target="_blank">
                                <div class="proj  ">
                                    <div class="overlyselect">View More
                                        <span class="heart">
                                            <i class="fa fa-heart-o"></i> 14
                                        </span>
                                    </div>
                                    <div class="picscontainer">
                                        <img src="./images/4.PNG" alt="2" class="picsProjects">
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class=" mix coffee">
                            <a href="https://github.com/esraemad/Noblis-" target="_blank">
                                <div class="proj  ">
                                    <div class="overlyselect">View More
                                        <span class="heart">
                                            <i class="fa fa-heart-o"></i> 14
                                        </span>
                                    </div>
                                    <div class="picscontainer">
                                        <img src="./images/3.PNG" alt="3" class="picsProjects">
                                    </div>

                                </div>
                        </div>
                        </a>

                    </div>


                    <div class="picsContainer">

                        <div class=" mix video mobile">
                            <a href="https://github.com/esraemad/Website-Template-Sass" target="_blank">
                                <div class="proj ">
                                    <div class="overlyselect">View More
                                        <span class="heart">
                                            <i class="fa fa-heart-o"></i> 14
                                        </span>
                                    </div>
                                    <div class="picscontainer">
                                        <img src="./images/10.PNG" alt="4" class="picsProjects">
                                    </div>
                                </div>
                            </a>
                        </div>


                        <div class=" mix coffee">
                            <a href="https://github.com/esraemad/Linkedin" target="_blank">
                                <div class="proj  ">
                                    <div class="overlyselect">View More
                                        <span class="heart">
                                            <i class="fa fa-heart-o"></i> 14
                                        </span>
                                    </div>
                                    <div class="picscontainer">
                                        <img src="./images/11.PNG" alt="2" class="picsProjects">
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="mix coffee">
                            <a href="https://github.com/esraemad/Blogging-Website-FrontEnd" target="_blank">
                                <div class="proj  ">
                                    <div class="overlyselect">View More
                                        <span class="heart">
                                            <i class="fa fa-heart-o"></i> 14
                                        </span>
                                    </div>
                                    <div class="picscontainer">
                                        <img src="./images/9.PNG" alt="3" class="picsProjects">
                                    </div>

                                </div>
                        </div>
                        </a>
                    </div>





                    <div class="picsContainer">

                        <div class=" mix video mobile">
                            <a href="https://github.com/esraemad/Axit" target="_blank">
                                <div class="proj ">
                                    <div class="overlyselect">View More
                                        <span class="heart">
                                            <i class="fa fa-heart-o"></i> 14
                                        </span>
                                    </div>
                                    <div class="picscontainer">
                                        <img src="./images/8.PNG" alt="4" class="picsProjects">
                                    </div>
                                </div>
                            </a>
                        </div>


                        <div class="mix coffee">
                            <a href="https://github.com/esraemad/PlueBox-Arabic" target="_blank">
                                <div class="proj  ">
                                    <div class="overlyselect">View More
                                        <span class="heart">
                                            <i class="fa fa-heart-o"></i> 14
                                        </span>
                                    </div>
                                    <div class="picscontainer">
                                        <img src="./images/111.PNG" alt="2" class="picsProjects">
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class=" mix coffee">
                            <a href="https://github.com/esraemad/IGoods" target="_blank">
                                <div class="proj  ">
                                    <div class="overlyselect">View More
                                        <span class="heart">
                                            <i class="fa fa-heart-o"></i> 14
                                        </span>
                                    </div>
                                    <div class="picscontainer">
                                        <img src="./images/5.PNG" alt="3" class="picsProjects">
                                    </div>

                                </div>
                        </div>
                        </a>
                    </div>


                    <div class="picsContainer">

                        <div class=" mix video mobile">
                            <a href="https://github.com/esraemad/IT-SMART" target="_blank">
                                <div class="proj ">
                                    <div class="overlyselect">View More
                                        <span class="heart">
                                            <i class="fa fa-heart-o"></i> 14
                                        </span>
                                    </div>
                                    <div class="picscontainer">
                                        <img src="./images/2.PNG" alt="4" class="picsProjects">
                                    </div>
                                </div>
                            </a>
                        </div>


                        <div class=" mix coffee">
                            <a href="https://github.com/esraemad/Classic" target="_blank">
                                <div class="proj  ">
                                    <div class="overlyselect">View More
                                        <span class="heart">
                                            <i class="fa fa-heart-o"></i> 14
                                        </span>
                                    </div>
                                    <div class="picscontainer">
                                        <img src="./images/7.PNG" alt="2" class="picsProjects">
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class=" mix coffee">
                            <a href="https://github.com/ahmedAdel77/where-reveiws-frontend" target="_blank">
                                <div class="proj  ">
                                    <div class="overlyselect">View More
                                        <span class="heart">
                                            <i class="fa fa-heart-o"></i> 14
                                        </span>
                                    </div>
                                    <div class="picscontainer">
                                        <img src="./images/13.PNG" alt="3" class="picsProjects">
                                    </div>

                                </div>
                            </a>
                        </div>

                    </div>
                </div>
            </div>

            <!------------ End Projects ------------>



            <!------------ Start Contact ------------>
            <!-- <div class="contact">
            <p>if you have any project in your mind</p>
            <button>Contact me</button>
        </div> -->

            <!------------ End Contact ------------>

            <!------------ Start Footer ------------>
            <footer id="contact">

                <h2 class="underline"> <i class="fa fa-paper-plane-o fa-sm" aria-hidden="true"
                        style="font-size: 15px;"></i>Hire.Me</h2>

                <p>I make soon as possibale. You really like my work , if you don't i will change this until you like ,
                    i will
                    give you satisfaction result </p>

                <div class="footer-social">
                    <a href="https://www.linkedin.com/in/esra-emad-964159125/"><i class="fa fa-linkedin"
                            aria-hidden="true"></i>
                    </a>
                    <a href="https://github.com/esraemad"><i class="fa fa-github" aria-hidden="true"></i>
                    </a>
                    <a href="https://www.facebook.com/esso.em.7/"><i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                </div>

            </footer>

            <!------------ End Footer ------------>

            <!------------ Start Copyright ------------>

            <p class="copyright">CopyRight &copy; by Esra Emad 2020</p>

            <!------------ End Copyright ------------>
</body>

</html>